doctype html
html
	head
		meta(charset="UTF-8")
		link(rel="stylesheet",href='css/ejercicio-pug.css')
	body
		header
			h1 PlatziGames
			a.boton Registro
		section.intro 
			.intro__imagen: img(src="images/imagen.png")
			.intro__contenido 
				h2 titulo Principal 
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque aliquid maiores alias deserunt 
				a.boton Leer mas
